/*font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

/*APP.vue*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.history {
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.history:hover {
    background-color: #4caf50;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0);
}

.flex-container {
    display: flex;
}
/*APP.vue*/

/*HistoryBlock.vue*/
.history-list-container {
    position: absolute;
    display: flex;
    top: 110px;
    right: 25px;
    z-index: 1;
    overflow-y: auto;
    border-radius: 25px;
    background-color: #f2f2f2;
    transform: translateX(200%);
    transition: transform 0.3s ease-out;
}



.history-list-container.is-active {
    transform: translateX(0);
}

.history-list-container ul {
    list-style-type: none;
    padding: 0;
}

.history-list-container button {
    font-size: larger;
    background-color: #f2f2f2;
    border: none;
    padding: 12px 16px;
    border-radius: 25px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    margin: 10px 10px;
}

.history-list-container button:hover {
    background-color: #4caf50;
    color: #fff;
}

/*HistoryBlock.vue*/


/*SearchBar.vue*/
.search-div {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 18px;
    flex: 1;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #3e8e41;
}
/*SearchBar.vue*/

/*InfoBlock.vue*/
.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.pokemon-text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 10px;
}

.pokemon-image {
    width: 300px;
    height: 300px;
    object-fit: fill;
    margin: 0 auto;
}

.info-card ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
}

.info-card li {
    margin: 10px;
}

.mt50 {
    margin-top: 50px;
}

.moves-container,
.ability-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.move,
.ability-container div {
    display: inline-block;
    margin-right: 10px;
}
/*InfoBlock.vue*/
